@import 'colors';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: proxima-nova, sans-serif;
}



// Offer Banner

.tag {
  background-color: $brown;
  color: $white;
  text-align: center;
  padding: 1%;

  p {
    letter-spacing: 0.8px;
  }
}


li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  background: #E0E4E7;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 34px;
  height: 4px;
  margin: 6px 2rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
}

.nav-link {
  font-size: .8rem;
  color: #354E57;
  font-weight: 600;
  letter-spacing: .8px;
}

.sub .nav-link {
  font-size: .8rem;
  color: #354E57;
  font-weight: 100;
  padding: 2rem;

}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #293D45;
  margin: 0 18rem;
}

.sub {
  justify-content: center;
  padding: 2rem;
}

.mobile {
  display: none;
  background-color: #F7F7F7;
  color: #354E57;
}

.cross {
  display: flex;
}

.cross .cro {
  display: none;
}

.mobile .nav-link {
  font-size: 1.3rem;
}

@media only screen and (max-width: 992px) {
  .nav-menu {
    position: absolute;
    left: -100%;
    top: 2rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow:
      0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 4.5rem 0;
    text-align: left;
  }

  .mobile {
    display: block !important;
    padding-top: 4rem;
  }

  .cross .cro {
    display: block;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-47deg);
  }

  .mob-sub-con{
    margin-top: 10rem;
    margin-bottom: 6rem;
  }

  .item-mob{
    text-align: left;
    margin-top: 2rem;
  }

  .link-mob{
    font-size: .9rem;
    font-weight: 600;
    color: $blue;
  }

}




// Footer

.footer {
  background: #354E57;
  color: $white;
  padding-top: 10rem;

  .content {
    padding-bottom: 6rem;
  }

  h1 {
    font-weight: 100;
    font-size: 3.5rem;
  }

  p {
    font-size: 14px;
  }

  input[type="text"] {
    width: 23rem;
    height: 2.5rem;
    padding-right: 50px;
    margin-top: 3rem;
    background-color: transparent;
    border: 1px solid $white;

    &::placeholder {
      color: $white;
      padding-left: 1rem;
      font-weight: 100;
    }
  }

  input:focus {
    outline: none;
  }

  input[type="submit"] {
    margin-left: -5.3rem;
    height: 2.5rem;
    width: 5.3rem;
    background-color: transparent;
    border: 1px solid $white;
    color: $white;
    border: 0;
    border-left: 1px solid;
    cursor: pointer;
  }

  .extra {
    padding-left: 5rem;
  }

  h4 {
    margin-top: 2rem;
  }

  p {
    margin-top: 1rem;
  }

  .social {
    display: flex;
    justify-content: space-between;
  }

  .other {
    display: flex;

    p {
      padding-right: 4rem;
      text-decoration: underline;
      margin-bottom: 8rem;
    }

  }

  .fa-brands {
    font-size: 1.5rem;
    padding: 0 1rem;
  }

  .mobile-foo{
    display: none;
}
}