* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: proxima-nova, sans-serif;
}

.tag {
  background-color: #A67744;
  color: #FFFFFF;
  text-align: center;
  padding: 1%;
}

.tag p {
  letter-spacing: 0.8px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  background: #E0E4E7;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 34px;
  height: 4px;
  margin: 6px 2rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5rem;
}

.nav-link {
  font-size: .8rem;
  color: #354E57;
  font-weight: 600;
  letter-spacing: .8px;
}

.sub .nav-link {
  font-size: .8rem;
  color: #354E57;
  font-weight: 100;
  padding: 2rem;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #293D45;
  margin: 0 18rem;
}

.sub {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
}

.mobile {
  display: none;
  background-color: #F7F7F7;
  color: #354E57;
}

.cross {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cross .cro {
  display: none;
}

.mobile .nav-link {
  font-size: 1.3rem;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: absolute;
    left: -100%;
    top: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
            box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .nav-menu.active {
    left: 0;
  }
  .nav-item {
    margin: 4.5rem 0;
    text-align: left;
  }
  .mobile {
    display: block !important;
    padding-top: 4rem;
  }
  .cross .cro {
    display: block;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(45deg);
            transform: translateY(10px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(-47deg);
            transform: translateY(-10px) rotate(-47deg);
  }
}

.footer {
  background: #354E57;
  color: #FFFFFF;
  padding-top: 10rem;
}

.footer .content {
  padding-bottom: 6rem;
}

.footer h1 {
  font-weight: 100;
  font-size: 3.5rem;
}

.footer p {
  font-size: 14px;
}

.footer input[type="text"] {
  width: 23rem;
  height: 2.5rem;
  padding-right: 50px;
  margin-top: 3rem;
  background-color: transparent;
  border: 1px solid #FFFFFF;
}

.footer input[type="text"]::-webkit-input-placeholder {
  color: #FFFFFF;
  padding-left: 1rem;
  font-weight: 100;
}

.footer input[type="text"]:-ms-input-placeholder {
  color: #FFFFFF;
  padding-left: 1rem;
  font-weight: 100;
}

.footer input[type="text"]::-ms-input-placeholder {
  color: #FFFFFF;
  padding-left: 1rem;
  font-weight: 100;
}

.footer input[type="text"]::placeholder {
  color: #FFFFFF;
  padding-left: 1rem;
  font-weight: 100;
}

.footer input:focus {
  outline: none;
}

.footer input[type="submit"] {
  margin-left: -5.3rem;
  height: 2.5rem;
  width: 5.3rem;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  border: 0;
  border-left: 1px solid;
  cursor: pointer;
}

.footer .extra {
  padding-left: 5rem;
}

.footer h4 {
  margin-top: 2rem;
}

.footer p {
  margin-top: 1rem;
}

.footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .other p {
  padding-right: 4rem;
  text-decoration: underline;
  margin-bottom: 8rem;
}

.footer .fa-brands {
  font-size: 1.5rem;
  padding: 0 1rem;
}

.footer .mobile-foo {
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #547665;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.hero-banner {
  background-image: url("../images/hands.png");
  background-color: #E0E4E7;
  background-position-y: center;
  background-repeat: no-repeat;
}

.hero-banner .mobile-hero {
  display: none;
}

.hero-banner .hero {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6rem 0;
}

.hero-banner .hero .content .new {
  margin-bottom: 3%;
}

.hero-banner .hero .content .new span {
  font-size: .8rem;
  background-color: #FFFFFF;
  padding: 1%;
}

.hero-banner .hero h1 {
  color: #354E57;
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 1;
  margin-bottom: 2%;
}

.hero-banner .hero p {
  font-weight: 500;
  color: #354E57;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.3px;
  margin-top: 1.5rem;
  padding-right: 26%;
}

.hero-banner .hero button {
  color: #000000;
  border: 1px solid #354E57;
  margin-top: 0;
  background-color: transparent;
  padding: 0.6rem 3rem;
  text-align: center;
  text-decoration: none;
  font-size: .9rem;
  cursor: pointer;
  font-weight: 600;
  margin-top: 1.5rem;
}

.hero-banner .hero .hero-img {
  margin-bottom: 28rem;
  position: relative;
}

.hero-banner .hero .hero-img .leafl img {
  position: absolute;
  top: -2rem;
  right: 9rem;
  width: 33rem;
}

.hero-banner .hero .hero-img .bottle img {
  position: absolute;
  left: 2rem;
  top: -5rem;
}

.hero-banner .hero .hero-img .leafr img {
  position: absolute;
  width: 18rem;
  top: -4rem;
  left: 15rem;
}

.solutions {
  background-color: #EEF3F4;
  color: #354E57;
  text-align: center;
  padding: 3rem;
}

.solutions h3 {
  font-size: 1.7rem;
}

.solutions p {
  margin-top: 1rem;
}

.product-tease {
  padding-top: 5rem;
  padding-bottom: 2rem;
  background-color: #EEF3F4;
  color: #354E57;
}

.product-tease .product .filter {
  font-weight: bold;
  padding-bottom: 2rem;
}

.product-tease .product .filter .shop {
  text-align: right;
}

.product-tease .product .card {
  margin: 0.8rem;
  margin-bottom: 5rem;
}

.product-tease .product .card .p-banner {
  background-color: #FFFFFF;
}

.product-tease .product .card .p-banner .new {
  margin-bottom: 3%;
  padding-top: 1rem;
  padding-left: 1rem;
}

.product-tease .product .card .p-banner .new span {
  font-size: .8rem;
  background-color: #F7F7F7;
  padding: 3%;
}

.product-tease .product .card .p-banner img {
  height: 20rem;
  width: 15rem;
}

.product-tease .product .card .p-banner #p-img:hover {
  content: url("../images/cream.png");
}

.product-tease .product .card .p-banner #p-img1:hover {
  content: url("../images/poo.png");
}

.product-tease .product .card .p-banner #p-img2:hover {
  content: url("../images/psoriasis.png");
}

.product-tease .product .card .p-banner #p-img3:hover {
  content: url("../images/acne.png");
}

.product-tease .product .card .p-content {
  margin-top: 1rem;
}

.product-tease .product .card .p-content h5 {
  font-weight: 800;
}

.product-tease .product .card .p-content .dec {
  font-size: .8rem;
  margin-top: .2rem;
}

.product-tease .product .card .p-content h6 {
  margin-top: 1rem;
  font-size: .9rem;
}

.product-tease .product .card .p-button button {
  color: #000000;
  border: 1px solid #354E57;
  background-color: transparent;
  padding: 0.6rem 4.5rem;
  text-align: center;
  text-decoration: none;
  font-size: .8rem;
  cursor: pointer;
  letter-spacing: 0.6px;
  margin-top: 1rem;
}

.product-tease .product .card .p-button button:hover {
  background-color: #FFFFFF;
}

.teaser-green {
  background-color: #547665;
}

.teaser-green .content {
  margin: 9rem;
  padding: 2.8rem 0;
  color: #FFFFFF;
}

.teaser-green .content h1 {
  line-height: 3rem;
  font-size: 2.2rem;
}

.teaser-green .content p {
  font-weight: 500;
  color: #EEF2F4;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.3px;
  margin-top: 1.5rem;
}

.teaser-green .content button {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  margin-top: 3rem;
  background-color: transparent;
  padding: 0.6rem 3rem;
  text-align: center;
  text-decoration: none;
  font-size: .9rem;
  cursor: pointer;
  font-weight: 600;
}

.teaser-green #man {
  height: 41rem;
  background: url(../images/teaser1.png);
  background-repeat: no-repeat;
  background-position: 0rem -19rem;
}

.teaser-cream {
  background-color: #C6B9B6;
}

.teaser-cream .content {
  margin: 9rem;
  padding: 2.8rem 0;
  color: #FFFFFF;
}

.teaser-cream .content h1 {
  margin-top: 3rem;
  font-size: 2.2rem;
}

.teaser-cream .content p {
  font-weight: 500;
  color: #2E2E22;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.3px;
  margin-top: 1.5rem;
}

.teaser-cream .content button {
  color: #2E2E22;
  border: 1px solid #956A53;
  margin-top: 3rem;
  background-color: transparent;
  padding: 0.6rem 3rem;
  text-align: center;
  text-decoration: none;
  font-size: .9rem;
  cursor: pointer;
  font-weight: 600;
}

.teaser-cream #hand {
  height: 41rem;
  background: url(../images/teaser2.png);
  background-repeat: no-repeat;
  background-position: -10rem -37rem;
}

.tiles {
  background-color: #F7F7F7;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 11rem;
  color: #354E57;
}

.tiles .mobile-tiles {
  display: none;
}

.tiles .container {
  max-width: 70%;
  margin: 0 auto;
  margin-top: 4rem;
}

.tiles .container h2 {
  font-size: 2rem;
}

.tiles .container p {
  margin-top: 1rem;
}

.tiles .container #sprites-1 {
  height: 15rem;
  background: url(../images/tiles.png);
  background-repeat: no-repeat;
  background-position: -1rem -37rem;
  background-size: cover;
}

.tiles .container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1rem;
}

.tiles .container .content .desc-1 {
  margin-left: 3rem;
}

.tiles .container .content .desc-2 {
  margin-right: 5rem;
}

.tiles .container .content h4 {
  margin-top: 1rem;
}

.tiles .container .content p {
  font-size: .8rem;
}

.tiles .container #sprites-2 {
  height: 15rem;
  background: url(../images/tiles.png);
  background-repeat: no-repeat;
  background-position: -25rem -1rem;
  background-size: 243% 88rem;
}

.tiles .container .cont {
  padding-top: 1rem;
}

.tiles .container .cont h4 {
  margin-top: 1rem;
}

.tiles .container .cont p {
  font-size: .8rem;
}

.tiles .container #sprites-3 {
  height: 15rem;
  background: url(../images/tiles.png);
  background-repeat: no-repeat;
  background-position: -1rem -57rem;
  background-size: cover;
}

.tiles .container #sprites-4 {
  height: 15rem;
  background: url(../images/tiles.png);
  background-repeat: no-repeat;
  background-position: 1rem -1rem;
  background-size: 231% 100rem;
}

.feature {
  background-color: #EEF2F4;
  color: #354E57;
  text-align: center;
  padding: 3rem 0;
}

.feature .fa-solid {
  font-size: 2rem;
  color: #C6B9B6;
}

.feature h6 {
  padding: 0 6.4rem;
  font-size: 1rem;
  margin-top: .6rem;
}

.feature p {
  font-size: .8rem;
  margin-top: 1rem;
  text-decoration: underline;
}

.newsletter {
  color: #354E57;
}

.newsletter .subscribe {
  margin: 3rem;
}

.newsletter .subscribe h2 {
  font-size: 1.8rem;
}

.newsletter .subscribe .vl {
  border-left: 2px solid #D7CCDD;
  height: 4.7rem;
  margin-left: 3rem;
}

.newsletter .subscribe .hl {
  display: none;
}

.newsletter .subscribe p {
  font-size: 1rem;
  margin-top: 1rem;
}

.newsletter .subscribe input[type="text"] {
  width: 19rem;
  height: 2.5rem;
  padding-right: 50px;
  margin-top: 1rem;
  margin-left: 8rem;
}

.newsletter .subscribe input:focus {
  outline: none;
}

.newsletter .subscribe input[type="submit"] {
  margin-left: -5.3rem;
  height: 2.5rem;
  width: 6.3rem;
  background: #956A53;
  color: #FFFFFF;
  cursor: pointer;
  border: 0;
}

@media only screen and (min-width: 1024px) and (max-width: 1224px) {
  .sooth {
    width: 1056px;
  }
  .container {
    max-width: 90%;
    margin: 0 auto;
  }
  .nav-menu {
    padding: 0 2rem;
  }
  .nav-menu .nav-link {
    padding-right: 1.2rem;
  }
  .sub {
    padding: 2rem;
  }
  .hero-banner {
    background-size: cover;
    background-position: 6rem -5rem;
  }
  .hero-banner .hero {
    padding: 0rem 0;
  }
  .hero-banner .hero .hero-img .bottle img {
    left: 0rem;
    top: -2rem;
  }
  .hero-banner .hero .hero-img .leafl img {
    top: 2rem;
    right: 11.5rem;
    width: 24rem;
  }
  .hero-banner .hero .hero-img .leafr img {
    width: 13rem;
    top: 0rem;
    left: 12.4rem;
  }
  .hero-banner .hero h1 {
    font-size: 2.6rem;
  }
  .hero-banner .hero p {
    font-size: .9rem;
  }
  .hero-banner .hero button {
    font-size: .8rem;
  }
  .product-tease .product .card .p-banner img {
    width: 13rem;
  }
  .product-tease .product .card .p-content h5 {
    font-weight: 700;
  }
  .product-tease .product .card .p-button button {
    padding: 0.6rem 3.4rem;
  }
  .teaser-green .content {
    margin: 7rem;
  }
  .teaser-green .content h1 {
    line-height: 2rem;
    font-size: 1.6rem;
  }
  .teaser-green .content p {
    font-size: .9rem;
  }
  .teaser-green .content button {
    font-size: .8rem;
  }
  .teaser-cream .content {
    margin: 7rem;
  }
  .teaser-cream .content h1 {
    font-size: 1.6rem;
  }
  .teaser-cream .content p {
    font-size: .9rem;
  }
  .teaser-cream .content button {
    font-size: .8rem;
  }
  .tiles .container #sprites-1 {
    background-position: -1rem -27rem;
  }
  .tiles .container .content .desc-1 {
    margin-left: 1rem;
  }
  .tiles .container .content .desc-2 {
    margin-right: 3rem;
  }
  .tiles .container #sprites-2 {
    background-size: 278% 81rem;
    background-position: -25rem 0rem;
  }
  .tiles .container #sprites-3 {
    background-position: -1rem -42rem;
  }
  .tiles .container #sprites-4 {
    background-position: 0rem 0rem;
    background-size: 233% 92rem;
  }
  .feature h6 {
    font-size: .9rem;
    padding: 0px 5.4rem;
  }
  .newsletter .subscribe h2 {
    font-size: 1.6rem;
  }
  .newsletter .subscribe p {
    font-size: .9rem;
  }
  .newsletter .subscribe input[type="text"] {
    margin-left: 5rem;
  }
  .newsletter .subscribe input[type="submit"] {
    margin-left: -6.3rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .newsletter .subscribe input[type="text"] {
    width: 12rem;
  }
  .tab-container {
    max-width: 80%;
    margin: 0 auto;
  }
  .hero-banner {
    background-image: url(../images/hands.png);
    background-color: #E0E4E7;
    background-repeat: no-repeat;
    background-position: -33rem -6rem;
  }
  .mobile-hero {
    display: block !important;
  }
  .hero-banner .desk-hero {
    display: none;
  }
  .hero-banner .hero {
    padding: 0;
  }
  .hero-banner .hero .hero-img {
    margin-bottom: 40rem;
  }
  .hero-banner .hero .hero-img .leafl img {
    top: 5rem;
    right: 10rem;
  }
  .hero-banner .hero .hero-img .leafr img {
    top: 3rem;
    left: 18rem;
  }
  .hero-banner .hero .hero-img .bottle img {
    left: 5rem;
    top: 2rem;
    width: 90%;
  }
  .filter {
    display: none;
  }
  .mobile-hero .content {
    padding: 4rem 0;
  }
  .teaser-green .content {
    padding: 0;
    margin: 9rem 0rem;
  }
  .teaser-cream .content {
    padding: 0;
    margin: 9rem 0rem;
  }
  .desk-tile {
    display: none;
  }
  .mobile-tiles {
    display: block !important;
  }
  .mobile-tiles #tiles-1 {
    height: 20rem;
    width: 36rem;
    background: url(../images/tiles.png);
    background-repeat: no-repeat;
    background-position: 13rem -32rem;
    background-size: 135% 370%;
  }
  .mobile-tiles #tiles-2 {
    height: 20rem;
    width: 36rem;
    background: url(../images/tiles.png);
    background-repeat: no-repeat;
    background-position: -20rem -33rem;
    background-size: 147% 381%;
  }
  .mobile-tiles #tiles-3 {
    height: 20rem;
    width: 36rem;
    background: url(../images/tiles.png);
    background-repeat: no-repeat;
    background-position: -26rem 3rem;
    background-size: 176% 389%;
  }
  .mobile-tiles #tiles-4 {
    height: 20rem;
    width: 36rem;
    background: url(../images/tiles.png);
    background-repeat: no-repeat;
    background-position: 13rem -50rem;
    background-size: 135% 370%;
  }
  .mobile-tiles #tiles-5 {
    height: 20rem;
    width: 36rem;
    background: url(../images/tiles.png);
    background-repeat: no-repeat;
    background-position: -26rem -54rem;
    background-size: 176% 389%;
  }
  .mobile-tiles #tiles-6 {
    height: 20rem;
    width: 36rem;
    background: url(../images/tiles.png);
    background-repeat: no-repeat;
    background-position: 13rem 4rem;
    background-size: 135% 370%;
  }
  .feature {
    padding: 0;
    padding-bottom: 6rem;
  }
  .feature .mob-fe {
    padding-top: 6rem;
  }
  .feature h6 {
    padding: 1rem 14rem;
    font-size: 1rem;
  }
  .newsletter .subscribe {
    margin: 4rem 0;
  }
  .newsletter .subscribe input[type="text"] {
    margin-left: 6rem;
  }
  .newsletter .subscribe input[type="submit"] {
    margin-left: -18.3rem;
  }
  .vl {
    display: none;
  }
  .hl {
    display: block !important;
  }
  .footer {
    padding-top: 2rem;
  }
  .footer .nav-input {
    padding: 3rem 0;
  }
  .footer .other p {
    padding-right: 6rem;
    text-decoration: underline;
    margin-bottom: 3rem;
  }
  .footer .other {
    padding: 1rem 0;
  }
  .mob-soc {
    padding-bottom: 5rem;
  }
  .desk-foo {
    display: none;
  }
  .mobile-foo {
    display: block !important;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .sooth {
    width: 237%;
  }
  .tag {
    padding: 3%;
  }
  .tag p {
    font-size: 2rem;
  }
  .desk-hero {
    display: none;
  }
  .mobile-hero {
    display: block !important;
  }
  .hero-banner {
    background-position: -35rem -5rem;
  }
  .hero-banner .hero h1 {
    font-size: 5rem;
    padding: 0 3rem;
  }
  .hero-banner .hero p {
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: 0.3px;
    margin-top: 2.5rem;
    padding: 0 3rem;
  }
  .hero-banner .hero button {
    padding: 1.6rem 9rem;
    font-size: 1.9rem;
    margin-top: 3.5rem;
    margin-left: 6rem;
  }
  .solutions h3 {
    font-size: 4rem;
    padding: 0 2rem;
  }
  .solutions p {
    margin-top: 2rem;
    font-size: 2.5rem;
  }
  .filter {
    display: none;
  }
  .product-tease .product .card .p-content {
    margin-top: 2rem;
  }
  .product-tease .product .card .p-content h5 {
    font-weight: 700;
    font-size: 1.8rem;
  }
  .product-tease .product .card .p-content .dec {
    font-size: 1.6rem;
    margin-top: 2rem;
  }
  .product-tease .product .card .p-content h6 {
    margin-top: 2rem;
    font-size: 1.8rem;
  }
  .product-tease .product .card .p-button button {
    padding: 0.6rem 1.5rem;
    font-size: 1.6rem;
    margin-top: 2rem;
  }
  .teaser-green .content {
    margin: 2rem;
    padding: 0;
  }
  .teaser-green .content h1 {
    line-height: 6rem;
    font-size: 4rem;
  }
  .teaser-green .content p {
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: 0.3px;
    margin-top: 2.5rem;
    padding: 0 0rem;
  }
  .teaser-green .content button {
    padding: 1.6rem 9rem;
    font-size: 1.9rem;
    margin-top: 3.5rem;
    margin-left: 6rem;
  }
  .teaser-cream .content {
    margin: 2rem;
    padding: 0;
  }
  .teaser-cream .content h1 {
    line-height: 6rem;
    font-size: 4rem;
  }
  .teaser-cream .content p {
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: 0.3px;
    margin-top: 2.5rem;
    padding: 0 0rem;
  }
  .teaser-cream .content button {
    padding: 1.6rem 9rem;
    font-size: 1.9rem;
    margin-top: 3.5rem;
    margin-left: 6rem;
  }
  .mob-fe {
    padding-top: 4rem;
  }
  .feature .fa-solid {
    font-size: 6rem;
    margin-top: 3rem;
  }
  .feature h6 {
    padding: 0px 6.4rem;
    font-size: 2.5rem;
    margin-top: 3.6rem;
  }
  .feature p {
    font-size: 2rem;
    margin-top: 3rem;
  }
  .tiles {
    display: none;
  }
  .vl {
    display: none;
  }
  .hl {
    display: block !important;
    margin: 3rem 0 !important;
  }
  .newsletter .subscribe {
    margin: 3rem 0rem;
  }
  .newsletter .subscribe h2 {
    font-size: 3.8rem;
  }
  .newsletter .subscribe p {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 1rem;
  }
  .newsletter .subscribe input[type="submit"] {
    margin-left: -34.3rem;
    height: 5.5rem;
    width: 11.3rem;
    background: #956A53;
    color: #FFFFFF;
    font-size: 1.8rem;
    cursor: pointer;
    border: 0;
  }
  .newsletter .subscribe input[type="text"] {
    height: 5.5rem;
    width: 23rem;
    padding-right: 50px;
    margin-top: 4rem;
    margin-left: 11rem;
  }
  .desk-foo {
    display: none;
  }
  .mobile-foo {
    display: block !important;
  }
  .mobile-foo h4 {
    margin-top: 2rem;
    font-size: 2rem;
  }
  .mobile-foo p {
    font-size: 1.8rem;
    padding-top: 2rem;
  }
  .nav-input {
    margin-top: 6rem;
    margin-bottom: 3rem;
  }
  .footer h1 {
    font-weight: 100;
    font-size: 6.5rem;
  }
  .footer input[type="text"] {
    width: 34rem;
    height: 4.5rem;
    padding-right: 50px;
    margin-top: 3rem;
    background-color: transparent;
    border: 1px solid #FFFFFF;
  }
  .footer input[type="submit"] {
    margin-left: -9.3rem;
    height: 4.5rem;
    width: 5.3rem;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    border: 0;
    border-left: 1px solid;
    cursor: pointer;
    padding-left: 2rem;
  }
}
/*# sourceMappingURL=home.css.map */