@import 'colors';
@import 'navbar';
@import 'mixin';

@include scrollbar;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

// Hero Banner

.hero-banner {
    background-image: url("../images/hands.png");
    background-color: #E0E4E7;
    background-position-y: center;
    background-repeat: no-repeat;

    .mobile-hero {
        display: none;
    }

    .hero {
        align-items: center;
        padding: 6rem 0;

        .content .new {
            margin-bottom: 3%;

            span {
                font-size: .8rem;
                background-color: $white;
                padding: 1%;
            }
        }

        h1 {
            color: $blue;
            font-weight: 600;
            font-size: 2.8rem;
            line-height: 1;
            margin-bottom: 2%;
        }

        p {
            @include teaser-p($blue);
            padding-right: 26%;
        }

        button {
            @include shop-button($black, 1px solid #354E57, 0);
            margin-top: 1.5rem;
        }

        .hero-img {
            margin-bottom: 28rem;
            position: relative;

            .leafl img {
                position: absolute;
                top: -2rem;
                right: 9rem;
                width: 33rem;
            }

            .bottle img {
                position: absolute;
                left: 2rem;
                top: -5rem;
            }

            .leafr img {
                position: absolute;
                width: 18rem;
                top: -4rem;
                left: 15rem;
            }
        }
    }

}



// Secondary Banner

.solutions {
    background-color: $light;
    color: $blue;
    text-align: center;
    padding: 3rem;

    h3 {
        font-size: 1.7rem;
    }

    p {
        margin-top: 1rem;
    }
}

// Product Teaser

.product-tease {
    padding-top: 5rem;
    padding-bottom: 2rem;
    background-color: $light;
    color: $blue;

    .product {
        .filter {
            font-weight: bold;
            padding-bottom: 2rem;

            .shop {
                text-align: right;
            }

        }

        .card {
            margin: 0.8rem;
            margin-bottom: 5rem;

            .p-banner {
                background-color: $white;
                // height: 20rem;

                .new {
                    margin-bottom: 3%;
                    padding-top: 1rem;
                    padding-left: 1rem;

                    span {
                        font-size: .8rem;
                        background-color: #F7F7F7;
                        padding: 3%;
                    }
                }

                img {
                    height: 20rem;
                    width: 15rem;
                }

                #p-img:hover {
                    content: url('../images/cream.png');
                }

                #p-img1:hover {
                    content: url('../images/poo.png');
                }

                #p-img2:hover {
                    content: url('../images/psoriasis.png');
                }

                #p-img3:hover {
                    content: url('../images/acne.png');
                }
            }

            .p-content {
                margin-top: 1rem;

                h5 {
                    font-weight: 800;
                }

                .dec {
                    font-size: .8rem;
                    margin-top: .2rem;
                }

                h6 {
                    margin-top: 1rem;
                    font-size: .9rem;
                }
            }

            .p-button {
                button {
                    color: $black;
                    border: 1px solid $blue;
                    background-color: transparent;
                    padding: 0.6rem 4.5rem;
                    text-align: center;
                    text-decoration: none;
                    font-size: .8rem;
                    cursor: pointer;
                    letter-spacing: 0.6px;
                    margin-top: 1rem;

                    &:hover {
                        background-color: $white;
                    }
                }
            }
        }
    }
}

// Green Teaser

.teaser-green {
    background-color: #547665;

    .content {
        @include teaser;

        h1 {
            line-height: 3rem;
            font-size: 2.2rem;
        }

        p {
            @include teaser-p(#EEF2F4);
        }

        button {
            @include shop-button($white, 1px solid $white, 3rem);
        }
    }

    #man {
        @include teaser-img(url(../images/teaser1.png), 0rem -19rem)
    }
}

// Cream Teaser

.teaser-cream {
    background-color: #C6B9B6;

    .content {
        @include teaser;

        h1 {
            margin-top: 3rem;
            font-size: 2.2rem;
        }

        p {
            @include teaser-p(#2E2E22);
        }

        button {
            @include shop-button(#2E2E22, 1px solid #956A53, 3rem)
        }
    }

    #hand {
        @include teaser-img(url(../images/teaser2.png), -10rem -37rem)
    }
}

// Image Tiles

.tiles {
    background-color: #F7F7F7;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 11rem;
    color: $blue;

    .mobile-tiles {
        display: none;
    }

    .container {
        max-width: 70%;
        margin: 0 auto;
        margin-top: 4rem;

        h2 {
            font-size: 2rem;
        }

        p {
            margin-top: 1rem;
        }

        #sprites-1 {
            height: 15rem;
            background: url(../images/tiles.png);
            background-repeat: no-repeat;
            background-position: -1rem -37rem;
            background-size: cover;
        }

        .content {
            display: flex;
            justify-content: space-between;
            padding-top: 1rem;

            .desc-1 {
                margin-left: 3rem;
            }

            .desc-2 {
                margin-right: 5rem;
            }

            h4 {
                margin-top: 1rem;
            }

            p {
                font-size: .8rem;
            }
        }

        #sprites-2 {
            height: 15rem;
            background: url(../images/tiles.png);
            background-repeat: no-repeat;
            background-position: -25rem -1rem;
            background-size: 243% 88rem;
        }

        .cont {
            padding-top: 1rem;

            h4 {
                margin-top: 1rem;
            }

            p {
                font-size: .8rem;
            }
        }

        #sprites-3 {
            height: 15rem;
            background: url(../images/tiles.png);
            background-repeat: no-repeat;
            background-position: -1rem -57rem;
            background-size: cover;
        }

        #sprites-4 {
            height: 15rem;
            background: url(../images/tiles.png);
            background-repeat: no-repeat;
            background-position: 1rem -1rem;
            background-size: 231% 100rem;
        }
    }
}

// Feature Banner

.feature {
    background-color: #EEF2F4;
    color: $blue;
    text-align: center;
    padding: 3rem 0;

    .fa-solid {
        font-size: 2rem;
        color: #C6B9B6;
    }

    h6 {
        padding: 0 6.4rem;
        font-size: 1rem;
        margin-top: .6rem;
    }

    p {
        font-size: .8rem;
        margin-top: 1rem;
        text-decoration: underline;
    }
}

// News Letter

.newsletter {
    color: $blue;

    .subscribe {
        margin: 3rem;

        h2 {
            font-size: 1.8rem;
        }

        .vl {
            border-left: 2px solid #D7CCDD;
            height: 4.7rem;
            margin-left: 3rem;
        }

        .hl {
            display: none;
        }

        p {
            font-size: 1rem;
            margin-top: 1rem;
        }

        input[type="text"] {
            width: 19rem;
            height: 2.5rem;
            padding-right: 50px;
            margin-top: 1rem;
            margin-left: 8rem;
        }

        input:focus {
            outline: none;
        }

        input[type="submit"] {
            margin-left: -5.3rem;
            height: 2.5rem;
            width: 6.3rem;
            background: #956A53;
            color: $white;
            cursor: pointer;
            border: 0;
        }
    }
}




// Media Queary


@media only screen and (min-width: 1024px) and (max-width: 1224px) {
    .sooth {
        width: 1056px;
    }

    .container {
        max-width: 90%;
        margin: 0 auto;
    }

    .nav-menu {
        padding: 0 2rem;

        .nav-link {
            padding-right: 1.2rem;
        }
    }

    .sub {
        padding: 2rem;
    }

    .hero-banner {
        background-size: cover;
        background-position: 6rem -5rem;
    }

    .hero-banner .hero {
        padding: 0rem 0;
    }

    .hero-banner .hero .hero-img .bottle img {
        left: 0rem;
        top: -2rem;
    }

    .hero-banner .hero .hero-img .leafl img {
        top: 2rem;
        right: 11.5rem;
        width: 24rem;
    }

    .hero-banner .hero .hero-img .leafr img {
        width: 13rem;
        top: 0rem;
        left: 12.4rem;
    }

    .hero-banner .hero h1 {
        font-size: 2.6rem;
    }

    .hero-banner .hero p {
        font-size: .9rem;
    }

    .hero-banner .hero button {
        font-size: .8rem;
    }

    .product-tease .product .card .p-banner img {
        width: 13rem;
    }

    .product-tease .product .card .p-content h5 {
        font-weight: 700;
    }

    .product-tease .product .card .p-button button {
        padding: 0.6rem 3.4rem;
    }

    .teaser-green .content {
        margin: 7rem;
    }

    .teaser-green .content h1 {
        line-height: 2rem;
        font-size: 1.6rem;
    }

    .teaser-green .content p {
        font-size: .9rem;
    }

    .teaser-green .content button {
        font-size: .8rem;
    }

    .teaser-cream .content {
        margin: 7rem;
    }

    .teaser-cream .content h1 {
        font-size: 1.6rem;
    }

    .teaser-cream .content p {
        font-size: .9rem;
    }

    .teaser-cream .content button {
        font-size: .8rem;
    }

    .tiles .container #sprites-1 {
        background-position: -1rem -27rem;
    }

    .tiles .container .content .desc-1 {
        margin-left: 1rem;
    }

    .tiles .container .content .desc-2 {
        margin-right: 3rem;
    }

    .tiles .container #sprites-2 {
        background-size: 278% 81rem;
        background-position: -25rem 0rem;
    }

    .tiles .container #sprites-3 {
        background-position: -1rem -42rem;
    }

    .tiles .container #sprites-4 {
        background-position: 0rem 0rem;
        background-size: 233% 92rem;
    }

    .feature h6 {
        font-size: .9rem;
        padding: 0px 5.4rem;
    }

    .newsletter .subscribe h2 {
        font-size: 1.6rem;
    }

    .newsletter .subscribe p {
        font-size: .9rem;
    }

    .newsletter .subscribe input[type="text"] {
        margin-left: 5rem;
    }

    .newsletter .subscribe input[type="submit"] {
        margin-left: -6.3rem;
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .newsletter .subscribe input[type="text"] {
        width: 12rem;
    }


    .tab-container {
        max-width: 80%;
        margin: 0 auto;
    }

    .hero-banner {
        background-image: url(../images/hands.png);
        background-color: #E0E4E7;
        background-repeat: no-repeat;
        background-position: -33rem -6rem;
    }

    .mobile-hero {
        display: block !important;
    }

    .hero-banner .desk-hero {
        display: none;
    }

    .hero-banner .hero {
        padding: 0;
    }

    .hero-banner .hero .hero-img {
        margin-bottom: 40rem;
    }

    .hero-banner .hero .hero-img .leafl img {
        top: 5rem;
        right: 10rem;
    }

    .hero-banner .hero .hero-img .leafr img {
        top: 3rem;
        left: 18rem;
    }

    .hero-banner .hero .hero-img .bottle img {
        left: 5rem;
        top: 2rem;
        width: 90%;
    }

    .filter {
        display: none;
    }

    .mobile-hero .content {
        padding: 4rem 0;
    }

    .teaser-green .content {
        padding: 0;
        margin: 9rem 0rem;
    }

    .teaser-cream .content {
        padding: 0;
        margin: 9rem 0rem;
    }

    .desk-tile {
        display: none
    }

    .mobile-tiles {
        display: block !important;
    }

    .mobile-tiles {
        #tiles-1 {
            @include mob-tiles(13rem -32rem, 135% 370%);
        }

        #tiles-2 {
            @include mob-tiles(-20rem -33rem, 147% 381%);
        }

        #tiles-3 {
            @include mob-tiles(-26rem 3rem, 176% 389%);
        }

        #tiles-4 {
            @include mob-tiles(13rem -50rem, 135% 370%);
        }

        #tiles-5 {
            @include mob-tiles(-26rem -54rem, 176% 389%);
        }

        #tiles-6 {
            @include mob-tiles(13rem 4rem, 135% 370%);
        }
    }

    .feature {
        padding: 0;
        padding-bottom: 6rem;
    }

    .feature .mob-fe {
        padding-top: 6rem;
    }

    .feature h6 {
        padding: 1rem 14rem;
        font-size: 1rem;
    }

    .newsletter .subscribe {
        margin: 4rem 0;
    }

    .newsletter .subscribe input[type="text"] {
        margin-left: 6rem;
    }

    .newsletter .subscribe input[type="submit"] {
        margin-left: -18.3rem;
    }

    .vl {
        display: none;
    }

    .hl {
        display: block !important;
    }

    .footer {
        padding-top: 2rem;
    }

    .footer .nav-input {
        padding: 3rem 0;
    }

    .footer .other p {
        padding-right: 6rem;
        text-decoration: underline;
        margin-bottom: 3rem;
    }

    .footer .other {
        padding: 1rem 0;
    }

    .mob-soc {
        padding-bottom: 5rem;
    }

    .desk-foo {
        display: none;
    }

    .mobile-foo {
        display: block !important;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .sooth {
        width: 237%;
    }

    .tag {
        padding: 3%;
    }

    .tag p {
        font-size: 2rem;
    }

    // .nav-menu {
    //     top: 0rem;
    // }

    // .bar {
    //     width: 57px;
    //     height: 6px;
    //     margin: 11px 2rem;
    // }

    // .hamburger.active .bar:nth-child(3) {
    //     transform: translateY(-23px) rotate(-47deg);
    // }

    .cross .cro {
        display: block;
        z-index: 9;
    }
    .nav-menu.active {
        left: 0;
        width: 133vh;
        z-index: 9;
        top: 0rem;

    }

    .desk-hero {
        display: none;
    }

    .mobile-hero {
        display: block !important;
    }

    .hero-banner {
        background-position: -35rem -5rem;
    }

    .hero-banner .hero h1 {
        font-size: 5rem;
        padding: 0 3rem;
    }

    .hero-banner .hero p {
        font-size: 2rem;
        line-height: 3rem;
        letter-spacing: 0.3px;
        margin-top: 2.5rem;
        padding: 0 3rem;
    }

    .hero-banner .hero button {
        padding: 1.6rem 9rem;
        font-size: 1.9rem;
        margin-top: 3.5rem;
        margin-left: 6rem;
    }

    .solutions h3 {
        font-size: 4rem;
        padding: 0 2rem;
    }

    .solutions p {
        margin-top: 2rem;
        font-size: 2.5rem;
    }

    .filter {
        display: none;
    }

    .product-tease .product .card .p-content {
        margin-top: 2rem;
    }

    .product-tease .product .card .p-content h5 {
        font-weight: 700;
        font-size: 1.8rem;
    }

    .product-tease .product .card .p-content .dec {
        font-size: 1.6rem;
        margin-top: 2rem;
    }

    .product-tease .product .card .p-content h6 {
        margin-top: 2rem;
        font-size: 1.8rem;
    }

    .product-tease .product .card .p-button button {
        padding: 0.6rem 1.5rem;
        font-size: 1.6rem;
        margin-top: 2rem;
    }

    .teaser-green .content {
        margin: 2rem;
        padding: 0;
    }

    .teaser-green .content h1 {
        line-height: 6rem;
        font-size: 4rem;
    }

    .teaser-green .content p {
        font-size: 2rem;
        line-height: 3rem;
        letter-spacing: 0.3px;
        margin-top: 2.5rem;
        padding: 0 0rem;
    }

    .teaser-green .content button {
        padding: 1.6rem 9rem;
        font-size: 1.9rem;
        margin-top: 3.5rem;
        margin-left: 6rem;
    }

    .teaser-cream .content {
        margin: 2rem;
        padding: 0;
    }

    .teaser-cream .content h1 {
        line-height: 6rem;
        font-size: 4rem;
    }

    .teaser-cream .content p {
        font-size: 2rem;
        line-height: 3rem;
        letter-spacing: 0.3px;
        margin-top: 2.5rem;
        padding: 0 0rem;
    }

    .teaser-cream .content button {
        padding: 1.6rem 9rem;
        font-size: 1.9rem;
        margin-top: 3.5rem;
        margin-left: 6rem;
    }

    .mob-fe {
        padding-top: 4rem;
    }

    .feature .fa-solid {
        font-size: 6rem;
        margin-top: 3rem;
    }

    .feature h6 {
        padding: 0px 6.4rem;
        font-size: 2.5rem;
        margin-top: 3.6rem;
    }

    .feature p {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .tiles {
        display: none;
    }

    .vl {
        display: none;
    }

    .hl {
        display: block !important;
        margin: 3rem 0 !important;
    }

    .newsletter .subscribe {
        margin: 3rem 0rem;
    }

    .newsletter .subscribe h2 {
        font-size: 3.8rem;
    }

    .newsletter .subscribe p {
        font-size: 2rem;
        line-height: 3rem;
        margin-top: 1rem;
    }

    .newsletter .subscribe input[type="submit"] {
        margin-left: -34.3rem;
        height: 5.5rem;
        width: 11.3rem;
        background: #956A53;
        color: #FFFFFF;
        font-size: 1.8rem;
        cursor: pointer;
        border: 0;
    }

    .newsletter .subscribe input[type="text"] {
        height: 5.5rem;
        width: 23rem;
        padding-right: 50px;
        margin-top: 4rem;
        margin-left: 11rem;
    }

    .desk-foo{
        display: none;
    }

    .mobile-foo{
        display: block !important;
    }

    .mobile-foo h4{
        margin-top: 2rem;
        font-size: 2rem;
    }

    .mobile-foo p {
        font-size: 1.5rem;
        padding-top: 2rem;
    }

    .nav-input{
        margin-top: 6rem;
        margin-bottom: 3rem;
    }

    .footer .other p {
        margin-bottom: 4rem;
    }

    .mob-soc{
        padding-bottom: 7rem;
    }

    .footer h1 {
        font-weight: 100;
        font-size: 6.5rem;
    }

    .footer input[type="text"] {
        width: 34rem;
        height: 4.5rem;
        padding-right: 50px;
        margin-top: 3rem;
        background-color: transparent;
        border: 1px solid #FFFFFF;
    }

    .footer input[type="submit"] {
        margin-left: -9.3rem;
        height: 4.5rem;
        width: 5.3rem;
        background-color: transparent;
        border: 1px solid #FFFFFF;
        color: #FFFFFF;
        border: 0;
        border-left: 1px solid;
        cursor: pointer;
        padding-left: 2rem;
    }

}